.formContainer {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 330px;
    gap: 0.3rem;
    input, select {
        padding: 0.8rem;
        border-radius: 4px;
        width: 100%;
        background-color: var(--inputBgColor);
        border: var(--inputBgColor);
        color: var(--textColor);
    }
    select {
        -moz-appearance: none; 
        -webkit-appearance: none; 
        appearance: none;
        border-right: 1rem solid transparent;
    }
    label {
        padding-top: 0.4rem;
    }
}
.flex {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}
.error {
    padding: 0.3rem;
    border-radius: 4px;
    color: var(--errorText);
    background-color: var(--errorBg);
    display: inline-block;
    font-size: small;
    width: 100%;
}

