// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&family=Lunasima&family=Oswald:wght@200;300;400&family=Roboto:wght@100;300&family=Ubuntu+Mono:wght@600&display=swap');

:root {
  font-family: 'Roboto', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(242, 242, 242, 0.87);
  background-color: #1e262c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (prefers-color-scheme: light) {
      color: #284e61;
      background-color: #efefef;
  }
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.pageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  flex-grow: 1;
  padding: 1rem;
  @media (prefers-color-scheme: light) {
    background: none;
  }
}

 /* ------ header, footer -------- */
header {
  padding: 1rem;
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  h1 {
    font-size: 1.5rem;
  }
}

nav {
  display: flex;
  gap: 1rem;
}

/* ----------- text links ------------ */
a {
  font-weight: 500;
  color: #f8d69b;
  text-decoration: inherit;
  @media (prefers-color-scheme: light) {
    color: #2c5b73;
  }
}
a:hover {
  color: #f8d69b;
  @media (prefers-color-scheme: light) {
      color: #2c5b73;
  }
}

/* ----------- btn ------------ */

button {
  border-radius: 8px;
  border: 1px solid #f8d69b;
  color: #f8d69b;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: border-color 0.5s, color 0.5s;
  font-family: 'Oswald', sans-serif;
  @media (prefers-color-scheme: light) {
    border-color: #5a7c8b;
    color:#4d6a76
  }
}
button:hover {
  @media (prefers-color-scheme: light) {
    color:#4d6975;
    border: 1px solid #4d6975;
  }
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 210px;
  width: 330px;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #242d34;
  background: linear-gradient(30deg, #242d34, #0f1315);
  color: white;
  margin-top: 0;
  @media (prefers-color-scheme: light) {
    background-color: #6e94a5;
    background: linear-gradient(20deg, #7da5b7, #4d6975);
  }
  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  svg {
    fill: #ffffff;
  }
  img {
    width: 40px;
  }
  .flexCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
  }
  p {
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
  }
  
  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Inconsolata', monospace;
    font-family: 'Ubuntu Mono', monospace;
    padding-bottom: 0.3rem;
  }
}
