.myCardsWrapper {
    padding-bottom: 3rem;
    h2 {
        font-size: 1rem;
    }
}
.activeCards {
    display: flex;
    justify-content: center;
    padding-bottom: 0rem;
}
.inactiveCards {
    position: relative;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    flex-wrap: wrap;
}
.flex {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}
button.hiddenBtn {
    position: absolute;
    display: none;
    padding: 0.7rem;
    background-color: transparent;
    border-color: transparent;
    color: white;
    top:3.5rem;
    right: 0.5rem;
    &:hover {
        border-color: transparent;
        background-color: var(--hiddenBtnHover);
    }
}
.addBtn {
    width: 100%;
} 
.card:hover .hiddenBtn {
    display: inline-block;
}
